/* Стили для контейнера формы */
.container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

/* Стили кнопки отправки формы */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Стили для контейнера лоадера */
.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Стиль для анимации лоадера */
.loader {
    border: 8px solid #f4f4f9;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Стиль для финального экрана с красным крестом и текстом */
.final-message {
    display: none;
    color: #d9534f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.final-message .cross {
    font-size: 60px;
    color: red;
}
