/* Основные стили */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Контейнер для кнопок и заголовка */
.container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Кнопки выбора */
.option-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
}

/* Лоадер и его контейнер */
.loader-container {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Заголовок и текст лоадера */
#loaderTitle {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

#loaderText {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/* Анимация лоадера */
.loader {
    border: 8px solid #f4f4f9;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Финальное сообщение */
.final-message {
    display: none; /* Скрыт по умолчанию */
    color: #d9534f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.final-message .cross {
    font-size: 60px;
    color: red;
    margin-bottom: 10px;
}
